#aboutMeContent > .aboutMe {
  overflow-x: hidden; /*or overflow-x:scroll */
  overflow-y: hidden;
  font-size: 16px;
}
  
#aboutMeContent > .aboutMe > article {
  margin-right: 3%;
  text-align: justify;
}

#aboutMeContent > .aboutMeWrapper > .aboutMe > article > h2{
  font-family: 'Oswald', sans-serif;
  padding-top: 50px;
  margin-bottom: 50px;
  margin-left: -3px;
}

#aboutMeContent > .aboutMeWrapper > .aboutMe > article {
}

#aboutMeContent > .aboutMeWrapper > .aboutMe > article > p {
  
}

.title {
  font-size: 45px
}

.aboutMeWrapper{
  display: flex;
  align-items: center;
}

.aboutMe{
  height: 500px;
  padding: 0px;
  margin: 10px
  
}

.bodylinks {
  font-family: 'Oswald';
  font-size: 30px;
  margin-left: 0px;
  text-align: center; 
  padding: 0px !important;
}