#aboutMeContent > .aboutMe {
  overflow-x: hidden; /*or overflow-x:scroll */
  overflow-y: hidden;
  font-size: 16px;
}
  
#aboutMeContent > .aboutMe > article {
  margin-right: 3%;
  text-align: justify;
  
}

#aboutMeContent > .aboutMeWrapper > .aboutMe > article > h2{
  font-family: 'Oswald', sans-serif;
  margin-bottom: 45px;
  margin-left: -3px;
  animation: fadeEffect 2s; 
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 44px;
}

.title {
  font-size: 45px
}

.aboutMeWrapper{
  display: flex;
  align-items: center;
}

.aboutMe{
  height: 500px;
  padding: 0px;
  animation: fadeEffect 3s;
}

.aboutMe > article{
  height: 500px;
  padding: 0px;
  margin: 10px;
 
}

.bodylinks {
  font-family: 'Oswald';
  font-size: 30px;
  margin-left: 0px;
  text-align: center; 
  padding: 0px !important;
  color: rgba(69, 68, 68, 0.205);
  cursor: pointer;
}



.bodylinks:hover {
  
  color: rgba(69, 68, 68, 0.5);
  
}

.aboutMeWrapper > .row > .active {
 
  color: black;
  animation: fadeEffect 2s;
}

