#aboutMeContent > .aboutMe {
  overflow-x: hidden; /*or overflow-x:scroll */
  overflow-y: hidden;
  font-size: 16px;
}
  
#aboutMeContent > .aboutMe > article {
  margin-right: 3%;
  text-align: justify;
}

#aboutMeContent > .aboutMeWrapper > .aboutMe > article > h2{
  font-family: 'Oswald', sans-serif;
  padding-left: 10px;
  padding-top: 50px;
  margin-bottom: 50px;
}

#aboutMeContent > .aboutMeWrapper > .aboutMe > article {
}

#aboutMeContent > .aboutMeWrapper > .aboutMe > article > p {
  padding-left: 30px;
}

.title {
  font-size: 45px
}

.bodylinks {
 
}

.aboutMeWrapper{
  display: flex;
  align-items: center;
}

.aboutMe{
  padding-right: 75px;
  height: 500px;
}

.bodylinks {
  font-family: 'Oswald';
  font-size: 30px;
  
  text-align: center; 
  padding: 0px !important;
}