#contact-form {
  width: 90%;
  margin: auto;
  padding-top: 15px;
  text-align: center;
  position: relative;
}

#contact-form fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#contact-form fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#contact-form input, #contact-form textarea {
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#contact-form .action-button {
	width: 100px;
	background: #10411189;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#contact-form .action-button:hover, #contact-form .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

#message-form {
  height: 275px;
}
