 /* Mobile :320px. */
 @media screen and (max-width: 576px) {
    
  .skillSelected{
      font-size: 16px;
    }
 
    .skillsLinks{
      font-size: 16px;
      text-align: left; 
      margin-left: 20px;
    }

    .title {
      display:none
    }

    .spaceDevice {
      margin-bottom: 35px
    }
    .project-text {
      padding-right: 10px !important;
    }

    .first-column-project { 
      margin-top: 15px;
    }

    .description{
      padding: 10px
    }

    #profile-pic-description{
      width: 180px;  
      margin-left: 10px;
      
    }

  }
@media screen and (min-width: 577px) and (max-width: 768px) {
  .skillSelected{
    font-size: 20px;
  }
  
  .skillsLinks{
    font-size: 20px;
    text-align: left; 
    margin-left: 20px;
  }
  .title {
    display:none
  }
  .spaceDevice {
    margin-bottom: 35px
  }
  .project-text {
    padding-right: 10px;
  }
  #image-and-cv {
    font-size: 15px !important
  }

  #contact-title{
    margin-bottom: 0px;
  }
  .first-column-project { 
    margin-top: 25px;
  }


  }

@media screen and (min-width: 767px) and (max-width: 991px) { 

  .title {
    display:none
  }

  .spaceDevice {
    margin-bottom: 35px
  }
 }

      
@media screen and (min-width: 991px) and (max-width: 1200px) {
  .project-text {
    display: inline-table;
  }
}