.container-fluid{

}

.layout {
  /* align-items: center;
  position: fixed;
  top: 50%;
  bottom: 50%; */
  flex-wrap: nowrap!important; 
  
} 

#info-content {
  top: 100px;
  padding-left: 3%;
  
  
} 

.infos{
  border: 1px solid; 
  border-radius: 25px;
  height: 650px;
  padding: 10px;
}

#tabs-content{
  padding-right: 0px;
}
.tabBody{
  text-align: justify;
  height: 350px;
  margin: 0px !important;
}

.content {
  margin: 0px !important;
}

a {
  text-decoration: none !important;
}