.container-fluid{
  
  
}

.layout-center {
  align-items: center;
  position: absolute;
  top: 50%;
  bottom: 50%;
  flex-wrap: nowrap!important;
  margin-left: 200px!important;
  margin-right: 300px!important;
} 

.infos{
  border: 1px solid; 
  border-radius: 25px;
  height: 650px;
  padding: 10px;
}
.tabBody{
  text-align: justify;
  width: 750px;
  height: 350px;
  background-color: red;
}