#profile-pic{
  width: 260px;
  border-radius: 50%;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#name {
  font-size: 20px;
}

#ocupation{
  font-size: 15px;    
}

#infoContent {
  top: 100px;
  padding-left: 3%;
} 


