#infoContent {
  display: none;
}

#profile-pic{
  width: 220px;
  border-radius: 50%;
  margin: 0px auto 15px;
  display: block;
  box-shadow: 2px 2px 10px black;
}

#name {
  font-size: 20px;
}

#ocupation{
  font-size: 18px;
  margin-bottom: 1rem;  
}

#infoContent > p > i{
  font-size: 20px;
}

#infoContent > p > a {
  color: #212529;

}

#infoContent > p > a:hover{
  text-decoration: underline;
  color: blue;
}

.cv-button{
  background-color: #10411189 !important;
  width: 100%;
  color: white !important;
  font-weight: bold;
}

.cv-button:hover{
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
  background-color: #1d821feb!important;
}

#cv-icon {
  width: 47px;
  height: 47px;
}

#image-and-cv {
  position:relative;
}

#cv-text {
  font-weight: 600;
}

#cv-text {
  display: inline-block;
  margin-bottom: 0px;
}