.projects {
  overflow-x: hidden; /*or overflow-x:scroll */
  overflow-y: hidden;
  display: flex !important;
  font-size: 8px;
}

.projects > article {
  min-width: 55vw;
  min-height: 80vh;
  margin-right: 85px;
  justify-content: center;
  align-items: center;
  font-size: 4ch;
}

.project-title{ 
  margin-bottom: 40px;
}
