.row > .projectsColumns {
    display: flex;
    flex: 0 0 82%;
    max-width: 82%;
    margin-right: 55px;
}

.horizontal-scrollable { 
  overflow-x: auto;
  margin-left: 0px;
  min-width: 50vw;
  
}

.flex-nowrap {
    -webkit-flex-wrap: nowrap!important;
    -ms-flex-wrap: nowrap!important;
    flex-wrap: nowrap!important;
}
.flex-row {
    display:flex;
    -webkit-box-orient: horizontal!important;
    -webkit-box-direction: normal!important;
    -webkit-flex-direction: row!important;
    -ms-flex-direction: row!important;
    flex-direction: row!important;
}

.projects {
  
  margin-left: 0px !important;
  padding-left: 0px !important;
 


}