.skills {
  text-align: initial;
}

.skillsLinks{
  font-family: 'Oswald';
  font-size: 30px;
  margin-left: 0px;
  text-align: center; 
  padding: 0px !important;
  color: rgba(69, 68, 68, 0.205);
  cursor: pointer;
}

.skillsLinks:hover{
  color:black
}

.skillLinkSelected {
  color:black
}



h3{
  


}

#languages{}
#frameworks{}
#front{}
#databases{}
#knowledges{}
#OS{}
#cloud{}
#version{}
#tools{}
#methodologies{}

.selected{
  font-size: 45px;
  font-weight: 500;
  line-height: 1.2;
  font-family: 'Oswald', sans-serif;
}

.skillSelected:hover{
  font-size: 45px;
  font-weight: 500;
  line-height: 1.2;
  font-family: 'Oswald', sans-serif;
}