.tabs {
 
}

.tabs .active {
  background-color: rgba(234, 234, 234, 0.8);
}

#tabs-content{
  padding-right: 0px;
}
.tabBody{
  text-align: justify;
  margin: auto;
  padding-top: 15px;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

  /* Style the buttons that are used to open the tab content */
.tablinks {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 16px;
  transition: 0.3s;
  border-bottom: 1px solid black;
}
  /* Style the tab content */
.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
  display: none;
  border-top: none;
  padding-right: 0px;
  text-align: justify;
  height: 85%;
}

.aboutMeTab:hover {
  color: #eeeeee;
  background-color: #212121;
  border-bottom: solid 1px #212121;
}

#skillsTab:hover {
  background-color: #ff9800;
  border-bottom: solid 1px #ff9800;
  border-left: 1px solid #ff9800;
}

#projectsTab:hover {
  background-color: #ff6f61;
  border-bottom: solid 1px #ff6f61;
  border-left: 1px solid #ff6f61;
}

#contactTab:hover {
  background-color: #10411189;
  border-bottom: solid 1px #10411189;
  border-left: 1px solid #10411189;
}

#aboutMeContent {
  
}

#skillsContent {
  text-align: center;
}

#entre-em-contato {
  padding: 0px;
  font-family: 700;
}

#entre-em-contato:hover {
  padding: 0px;
  font-family: 700;
  text-decoration: underline;
  color: blue;
}

.projects {
  overflow-x: hidden; /*or overflow-x:scroll */
  overflow-y: hidden;
  flex-wrap: wrap !important;
  font-size: 16px;
}