@import url("components/personal_infos.css");
@import url("components/tabs.css");
@import url("components/projects_tab.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css");
@import url("components/contact_tab.css");
@import url("components/skills_tab.css");
@import url("components/aboutMe_tab.css");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&family=Six+Caps&display=swap");
@import url("components/first_page.css");
@import url("components/devices.css");
@import url("components/formation_tab.css");




html, body {
  overflow-y: auto; 
  overflow-x: auto;
  width: 100%;
  height: 100%;
  font-family: 'Pt Sans';
}

.tabBody{
  text-align: justify;
  margin: auto;
  padding-top: 40px;
  font-family: 'Pt Sans';
}

.container-fluid{
  height: 100%
}

.first-page{
  height: 100%
}

.second-page{
  height: 100%
}


